@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Paytone+One&family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --font-primary: "Quicksand", sans-serif;
  --font-headings: "Coiny", system-ui;
  --font-logo: "Paytone One", sans-serif;
  --color-primary: rgb(200, 95, 0);
  --color-secondary: #f3ede7;
  --color-background: rgb(255, 252, 248);
  --color-bg-secondary: #fff2e4;
  --color-text-primary: #1b140d;
  --color-text-secondary: #3a1b00;
  --color-text-nav-hover: rgb(244, 131, 93);
  --color-logo: #ff7f0f;
}

root {
  --font-headings: "Poppins", sans-serif;
  --font-logo: "Coiny", system-ui;
  --color-primary: rgb(202, 94, 0);
  --color-secondary: #f3ede7;
  --color-background: rgb(255, 252, 248);
  --colors-text-primary: #1b140d;
  --colors-text-secondary: rgb(58, 27, 0);
  --color-text-logo: rgb(255, 127, 15);
  --antique-white: rgb(253, 235, 216);
  --seashell: rgb(254, 243, 236);
  --coral: rgb(244, 131, 93);
  --paynes-gray: rgb(86, 117, 143);
  --color-text-nav-hover: #8f4300;
  --color-bg-secondary: rgb(255, 242, 228);
}

body {
  font-family: var(--font-primary);
}

h1 {
  font-family: "Coiny", system-ui;
}

@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 400;
  src: local(materialsymbolsoutlined);
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: lighter;
  font-style: normal;
  font-size: 21px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.material-symbols-outlined.large {
  font-size: 70px;

  @media (min-width: 640px) {
    font-size: 60px;
  }

  @media (min-width: 1280px) {
    font-size: 90px;
  }
}

.material-symbols-outlined.logo {
  font-size: 30px;
  font-weight: 600;

  @media (min-width: 640px) {
    font-size: 34px;
  }

  @media (min-width: 1280px) {
    font-size: 38px;
  }
}
