@import url("https://fonts.googleapis.com/css2?family=Chango&family=Coiny&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-primary: "Poppins", sans-serif;
  --font-headings: "Coiny", system-ui;
  --font-logo: "Chango", sans-serif;
  --color-primary: #ec7813;
  --color-secondary: #f3ede7;
  --color-background: rgb(254, 243, 236);
  --color-text-primary: #1b140d;
  --color-text-secondary: #9a704c;
  --color-text-logo: #ff7f0f;
}

root {
  --font-headings: "Poppins", sans-serif;
  --font-logo: "Chango", sans-serif;
  --color-primary: #;
  --color-secondary: #f3ede7;
  --color-background: rgb(255, 157, 96);
  --colors-text-primary: rgb(27, 20, 13);
  --colors-text-secondary: #9a704c;
  --color-text-logo: rgb(255, 127, 15);
  --antique-white: rgb(253, 235, 216);
  --seashell: rgb(254, 243, 236);
  --coral: rgb(244, 131, 93);
  --paynes-gray: rgb(86, 117, 143);
}

body {
  font-family: var(--font-primary);
}

h1 {
  font-family: "Coiny";
}

@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v280/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2)
    format("woff2");
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: lighter;
  font-style: normal;
  font-size: 21px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.material-symbols-outlined.large {
  font-size: 70px;

  @media (min-width: 640px) {
    font-size: 60px;
  }

  @media (min-width: 1280px) {
    font-size: 90px;
  }
}
