@import url("https://fonts.googleapis.com/css2?family=Chango&family=Coiny&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-primary: "Poppins", sans-serif;
  --font-headings: "Coiny", system-ui;
  --font-logo: "Chango", sans-serif;
  --color-primary: #ec7813;
  --color-secondary: #f3ede7;
  --color-background: #fff0e5;
  --color-text-primary: #1b140d;
  --color-text-secondary: #9a704c;
  --color-text-logo: #ff9e27;
}

root {
  --font-headings: "Poppins", sans-serif;
  --font-logo: "Chango", sans-serif;
  --color-primary: #ec7813;
  --color-secondary: #f3ede7;
  --color-background: #fff0e5;
  --colors-text-primary: #1b140d;
  --colors-text-secondary: #9a704c;
  --color-text-logo: #ff9e27;
}

body {
  font-family: var(--font-primary);
}

h1 {
  font-family: "Coiny";
}
